nav li:nth-child(2) h4{
	font-size: 0.81rem;
	letter-spacing: 0.1rem;
	margin-top: 0.1rem;
	font-weight: 500;
	color: white;
}
.main header{
	font-family: "PingFang Medium";
	color: black;
	font-size: 0.75rem;
	margin: 0;
	padding: 0.4rem 0;
}
.main header img{
	margin-top: -3px;
}

.main .consult{
	margin: 0.5rem;
	background: white;
	padding: 0.3rem;
}
.main .consult h3{
	margin: 0;
	padding: 0;
	font-size: 0.75rem;
	color: black;
	padding-left: 0.2rem;
	font-family: "PingFang Bold";
}

.main .consult p{
	font-size: 0.62rem;
	color: black;
	margin: 0;
	padding:0;
	margin: 0.25rem;
	font-family: "PingFang Medium";
}
.main .consult p:nth-child(1){
	font-size: 0.5rem;
	color: #595959;
}
.main .consult p:nth-child(4){
	color: #FFB95E;
}
.main .consult p:nth-child(4) span{
	color: black;
}
.main .consult p:nth-child(2){
	font-size: 0.5rem;
	color: #B1B1B1;
	margin: 0.4rem 0;
}
.main .consult p span{
	display: inline-block;
}
.main .consult p span:nth-child(1){
	display: inline-block;
	width:3.3rem;
	text-align: justify;
	line-height: 0;
}
.main .consult p span:nth-child(1) span{
	width: 100%;
	opacity: 0;
}
.main .consult p:nth-last-child(2){
	color: #FFAC40;
	font-size: 0.55rem;
	margin: 0.2rem 0 0.5rem 0.3rem;
	font-family: "PingFang Bold";
}
.main .consult p:nth-last-child(3){
	color: #FFAC40;
	font-size: 0.55rem;
	margin: 0.5rem 0 0.2rem 0.3rem;
	font-family: "PingFang Bold";
}
.main .business_card p span:nth-child(5){
	color: #FFC170;
}
.main button{
	border: none;
	outline: none;
	background:white;
	width:15rem;
	text-align: start;
	padding:0.5rem 0 0.1rem 0;
	padding-left: 0.5rem;
	border-top:1px solid #F4F4F4;
	margin-left: -0.5rem;
	background: url(../images/yougouzi.png) no-repeat 95% 0.4rem;
	background-size:3% auto;
	font-family: "PingFang Bold";
	color: #666666;
	font-size: 0.55rem;
}
	
.main .business_card p:nth-child(5){
	color: #FFC170;
}
.main .business_card p:nth-child(5) span{
	color: #333333;
}
