@font-face {
	font-family:PingFang Medium;
	src:url("../font/PingFang Medium.ttf");
}
@font-face {
	font-family:PingFang Bold;
	src:url("../font/PingFang Bold.ttf");
	font-weight: bold;
}




body{
	margin: 0;
	padding:0;
	background: #F0F0F0;
}
input{
	outline: none;
}
body:-webkit-scrollbar{
	width:16px;
	height:16px;
	background-color: #f5f5f5;
}
a{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	width: 100%;
	height: auto;
}
.clearlr:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearlr{
	zoom: 1;
}




nav{
	margin: 0;
	padding: 0;
	background: #1B1A1F;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99999;
}
nav li{
	float: left;
	width: 33.3333333333333%;
	text-align: center;
	color: white;
	height: 1.92rem;
	line-height: 1.92rem;
	font-size: 0.9rem;
}
nav li a{
	color: white;
	font-size: 0.65rem;
	color: #C9C9CA;
}
nav li a:nth-child(1){
	padding-left:1.5rem;
	margin-right: 0.3rem;
	background: url(../images/logozuo.png) no-repeat 0.5rem center;
	background-size:17%;
	font-family:"PingFang Medium";
}
nav li:nth-child(1){
	text-align: start;
}
nav li:nth-child(2){
	font-size:0.72rem;
	color: #EAEAEA;
	font-family: "PingFang Medium";
	letter-spacing: 0.05rem;
}
nav li img{
	width: 17%;
	margin-right:-3rem;
}




footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5555;
	background: white;
	
	height:2rem;
	border-top:1px solid #E5E5E5;
	padding-bottom: 0.1rem;
}
footer ul li{
	margin-top: 0.2rem;
	float: left;
	width: 33.3333333333%;
	text-align: center;
}
footer ul li a{
	display: block;
	width: 100%;
	color: #B4B4B4;
	font-size: 0.5rem;
	padding: 1.1rem 0 0.2rem 0;
	font-family: "PingFang Medium";
}
footer ul li:nth-child(1) a{
	background:url(../images/shouye.png) no-repeat center 0.12rem;
	background-size:19%;
}
footer ul li:nth-child(1) a.active{
	background: url(../images/shouyehuang.png) no-repeat center 0.12rem;
	background-size:19%;
	color: #FFBE6A;
}
footer ul li:nth-child(2) a{
	background: url(../images/shoucang.png) no-repeat center 0.14rem;
	background-size:18%;

}
footer ul li:nth-child(2) a.active{
	background: url(../images/shoucanghuang.png) no-repeat center 0.14rem;
	background-size:18%;
	color: #FFBE6A;
	
}
footer ul li:nth-child(3) a{
	background: url(../images/wode.png) no-repeat center 0.1rem;
	background-size:16%;
	font-size: 0.5rem;
}
footer ul li:nth-child(3) a.active{
	background: url(../images/wodehuang.png) no-repeat center 0.1rem;
	background-size:16%;
	color: #FFBE6A;
	
}


.main{
	margin-top: 1.91rem;
	margin-bottom:2.5rem;
}
.main header{
	text-align: center;
	font-size: 0.7rem;
	padding: 0.4rem 0;
	border-bottom: 1px solid #EAEAEA;
	position: relative;
	background: white;
	color: #333333;
	font-family: "PingFang Medium";
}
.main header img{
	width: 0.5rem;
	position: absolute;
	top: 0.65rem;
	left: 0.8rem;
}